<% comment_own.each do |comment| %>
    <div class="container">
      <div class="col-xs-6 col-md-3">
        <!-- User Icon-->
        <% if comment.user.avatar_file_name.nil? %>
        <% else %>
            <%= image_tag comment.user.avatar.url(:thumb), class: "img-rounded" %>
        <% end %>

      </div>

      <div class="col-xs-6 col-md-9">
        <!-- User Comments-->

        <p>
          <% unless comment.user.name.nil? %>
              <%= comment.user.name %>
          <% else %>
              学号: <%= comment.user.stuid %>
          <% end %>
          <small><%= comment.created_at.strftime("%Y年%m月%D日 %I:%M%p") %></small>
          </a>
          <% if comment.user == current_user_stu %>
              <small align="right"><%= link_to '<span class="glyphicon glyphicon-remove-sign"></span> '.html_safe, [@user, comment], method: :delete, data: {confirm: 'Are you sure?'} %></small>
          <% end %>
        </p>
        <h6>
          <%= comment.content %>
        </h6>

      </div>
    </div>
    <hr>

<% end %>








