<link rel="stylesheet" type="text/css" href="css/default.css"/>
<link rel="stylesheet" type="text/css" href="css/NestedAccordion/component.css"/>
<script src="js/modernizr.custom.js"></script>
<a name="faq_top"></a>
<div class="container">
  <header class="clearfix" id="header_faq">
    <h1>使用说明</h1>

    <nav>
      <a href="<%= root_url %>" class="icon-arrow-left" data-info="返回主页">返回主页</a>
      <a href="#faq_top" class="icon-drop" data-info="顶部" id="top">顶部</a>
    </nav>
  </header>
  <div class="main">


    <ul id="cbp-ntaccordion" class="cbp-ntaccordion">
      <% faqs.each do |f| %>
          <li>
            <h3 class="cbp-nttrigger"><%= f.query %></h3>

            <div class="cbp-ntcontent">
              <p>
                <%= f.answer %>
              </p>

              <ul class="cbp-ntsubaccordion">
                <% f.sub_faqs.each do |sf| %>
                    <li>
                      <h4 class="cbp-nttrigger"><%= sf.query %></h4>

                      <div class="cbp-ntcontent">
                        <p>
                          <%= sf.answer %>
                        </p>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </li>
      <% end %>


    </ul>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/NestedAccordion/jquery.cbpNTAccordion.min.js"></script>
<script>
    $(function () {
        /*
         - how to call the plugin:
         $( selector ).cbpNTAccordion( [options] );
         - destroy:
         $( selector ).cbpNTAccordion( 'destroy' );
         */

        $('#cbp-ntaccordion').cbpNTAccordion();

    });
</script>

