<%= stylesheet_link_tag "FAQ/default.css" %>
<%= stylesheet_link_tag "FAQ/component.css" %>
<%= javascript_include_tag "FAQ/modernizr.custom.js" %>

<style>
    #FAQ {
        padding-top: 50px;;
    }
</style>

<div class="container" id="FAQ">
  <header class="clearfix" id="header_faq">
    <h1>使用说明</h1>

    <p>
      <!-- Put some statments here in the future-->
    </p>
  </header>
  <div class="main">


    <ul id="cbp-ntaccordion" class="cbp-ntaccordion">
      <% faqs.each do |f| %>
          <li>
            <h3 class="cbp-nttrigger"><%= f.query %></h3>

            <div class="cbp-ntcontent">
              <p>
                <%= f.answer %>
              </p>

              <ul class="cbp-ntsubaccordion">
                <% f.sub_faqs.each do |sf| %>
                    <li>
                      <h4 class="cbp-nttrigger"><%= sf.query %></h4>

                      <div class="cbp-ntcontent">
                        <p>
                          <%= sf.answer %>
                        </p>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </li>
      <% end %>


    </ul>
  </div>
</div>

<%= javascript_include_tag "FAQ/jquery.cbpNTAccordion.min.js" %>

<script>
    $(function () {
        /*
         - how to call the plugin:
         $( selector ).cbpNTAccordion( [options] );
         - destroy:
         $( selector ).cbpNTAccordion( 'destroy' );
         */

        $('#cbp-ntaccordion').cbpNTAccordion();

    });
</script>

