<%= stylesheet_link_tag "ViewModeSwitch/component.css" %>
<%= javascript_include_tag "ViewModeSwitch/modernizr.custom.js" %>
<style>
    #masonry {
        padding: 0;
        min-height: 450px;
        margin: 0 auto;
    }

    #masonry .thumbnail {
        width: 230px;
        margin: 20px;
        padding: 0;
        border-width: 1px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    #masonry .thumbnail .imgs {
        padding: 10px;
    }

    #masonry .thumbnail .imgs img {
        margin-bottom: 5px;
    }

    #masonry .thumbnail .caption {
        background-color: #fff;
        padding-top: 0;
        font-size: 13px;
    }

    #masonry .thumbnail .caption .title {
        font-size: 18px;
        font-weight: bold;
        margin: 5px 0;
        text-align: center;
    }

    #masonry .thumbnail .caption .author {
        font-size: 11px;
        text-align: right;
    }

</style>


<div class="main">
  <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">

    <div class="cbp-vm-options">
      <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
      <!--<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>-->
    </div>
    <ul>
      <div id="masonry" class="container-fluid">
      </div>
      <div id="masonry_ghost" class="hide">
        <% issues.reverse.each do |issue| %>

            <div class="thumbnail">
              <div class="imgs">
                <% pic = issue.issue_images.order("RANDOM()").first %>
                <% if !(pic.nil?) %>

                    <a class="cbp-vm-image" href="<%= shownews_url(issue) %>">
                      <input type="hidden" value="<%= pic.issue_pic.url(:thumb) %>">
                    </a>
                <% else %>
                    <input type="hidden" value="images/home/bg.jpg">
                <% end %>
              </div>
              <div class="caption">
                <h3 class="cbp-vm-title">
                  <div class="title"><%= issue.title %></div>
                </h3>

                <div class="cbp-vm-price"><%= issue.created_at.strftime("%m-%e-%Y") %></div>
                <div class="cbp-vm-details">
                  <div class="content">
                    <% content = strip_tags((issue.content)) %>
                    <%= (truncate(sanitize(content), :length => 100)) %>
                  </div>
                </div>
                <a class="cbp-vm-icon cbp-vm-add" href="<%= shownews_url(issue) %>">详细</a>
              </div>
            </div>
        <% end %>
        <!--<div id="fetchNextData"> a</div>-->
      </div>

    </ul>
  </div>
</div>





<!-- /main -->
<%= javascript_include_tag "ViewModeSwitch/classie.js" %>
<%= javascript_include_tag "ViewModeSwitch/cbpViewModeSwitch.js" %>

<%= javascript_include_tag "masonry.pkgd.min.js" %>
<%= javascript_include_tag "imagesloaded.pkgd.min.js" %>
<%= javascript_include_tag "jquery-1.8.2.min.js" %>
<%= javascript_include_tag "lightbox-2.6.min.js" %>



<script>
    $(function () {

        var ghostNode = $('#masonry_ghost').find('.thumbnail'), i, ghostIndexArray = [];
        var ghostCount = ghostNode.length;
        for (i = 0; i < ghostCount; i++) {
            ghostIndexArray[i] = i;
        }
        ghostIndexArray.sort(function (a, b) {
            if (Math.random() > 0.5) {
                return a - b;
            } else {
                return b - a;
            }
        });

        var currentIndex = 0;
        var masNode = $('#masonry');
        var imagesLoading = false;


        function getNewItems() {
            var newItemContainer = $('<div/>');
            for (var i = 0; i < 6; i++) {
                if (currentIndex < ghostCount) {
                    // randomly show
                    // newItemContainer.append(ghostNode.get(ghostIndexArray[currentIndex]));
                    newItemContainer.append(ghostNode.get(currentIndex));

                    currentIndex++;
                }
            }
            return newItemContainer.find('.thumbnail');
        }

        function processNewItems(items) {
            items.each(function () {
                var $this = $(this);
                var imgsNode = $this.find('.imgs');
                var title = $this.find('.title').text();
                var author = $this.find('.author').text();
                title += '&nbsp;&nbsp;(' + author + ')';
                var lightboxName = 'lightbox_'; // + imgNames[0];

                var imgNames = imgsNode.find('input[type=hidden]').val().split(',');
                $.each(imgNames, function (index, item) {
                    imgsNode.append('<a href="' + item + '" data-lightbox="' + lightboxName + '" title="' + title + '"><img src="' + item + '" /></a>');
                });
            });
        }

        function initMasonry() {
            var items = getNewItems().css('opacity', 0);
            processNewItems(items);
            masNode.append(items);

            imagesLoading = true;
            items.imagesLoaded(function () {
                imagesLoading = false;
                items.css('opacity', 1);
                masNode.masonry({
                    itemSelector: '.thumbnail',
                    isFitWidth: true
                });
            });
        }


        function appendToMasonry() {
            var items = getNewItems().css('opacity', 0);
            processNewItems(items);
            masNode.append(items);

            imagesLoading = true;
            items.imagesLoaded(function () {
                imagesLoading = false;
                items.css('opacity', 1);
                masNode.masonry('appended', items);
            });
        }


        initMasonry();

        $(window).scroll(function () {

            if ($(document).height() - $(window).height() - $(document).scrollTop() < 5) {

                if (!imagesLoading) {
                    appendToMasonry();
                }

            }

        });


    });
</script>