<style>

  .slide{
      padding-bottom: 30px;
  }
  </style>

<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->


  <ol class="carousel-indicators">

    <% is_active = true %>
    <% cid = 1 %>
    <% issues.each do |e| %>
        <% (1..e.issue_images.count).each do %>
            <% if is_active %>
                <% is_active = false %>
                <li data-target="#myCarousel" data-slide-to="<%= cid %>" class="active"></li>
            <% else %>
                <li data-target="#myCarousel" data-slide-to="<%= cid %>"></li>
            <% end %>
            <% cid + 1 %>
        <% end %>
    <% end %>

  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <% is_active = true %>
    <% issues.each do |e| %>
        <% e.issue_images.each do |i| %>
            <% if is_active %>
                <div class="active item">
                  <% is_active = false %>
            <% else %>
                <div class="item">
            <% end %>
            <div align="center">
              <a href=<%= shownews_url(e) %>>
                <%= image_tag i.issue_pic.url(:carousel), :height => "480" %>
              </a>
            </div>
            <div class="carousel-caption">
              <h3><%= e.title %></h3>
              <% content = strip_tags((e.content)) %>
              <p><%= (truncate(sanitize(content), :length => 70)) %></p>
            </div>

            </div>
        <% end %>
    <% end %>

    <!-- Controls -->

    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <!--</div>-->

