<style>
    #indn {
        border-bottom: solid;
        border-bottom-color: #e1e4e7;
        border-bottom-width: 1px;
        /*border: 0px;*/
    }

    #iniNews #index_list {
        /*min-height: 70px;*/
        border: 0px;
        border-bottom: solid;
        border-bottom-color: #e1e4e7;
        border-bottom-width: 2px;
        /*padding-top: 20px;*/
    }

    #iniNews #index_list:hover {
        background-color: #efefef;
        min-height: 200px;
        position: relative;
        /*max-height: 200px;*/
        /*height: 200px;*/
    }

    #iniNews #issuesLast {
        /*min-height: 70px;*/
        border: 0px;
        border-bottom: solid;
        border-bottom-color: #e1e4e7;
        border-bottom-width: 1px;
        /*padding-top: 20px;*/
        /*border-bottom: none;*/
    }

    #iniNews #issuesLast:hover {
        background-color: #efefef;
        min-height: 200px;
        position: relative;
        /*max-height: 200px;*/
        /*height: 200px;*/
    }
</style>

<div class="list-group" id="iniNews">
  <% issues.each do |e| %>

      <% unless e == issues.last %>
          <a href="<%= shownews_url(e) %>" class="list-group-item" id="index_list" name="iniNews<%= e.id %>" onmouseover="newsDetails(this)" onmouseout="newsBrief(this)">
      <% else %>
          <a href="<%= shownews_url(e) %>" class="list-group-item" id="issuesLast">
      <% end %>
      <div class="row">
        <div class="col-md-3">
          <p style="font-size: 12px;"><%= e.society.to_s %></p>

        </div>
        <div class="col-md-6">
          <h4 id="brief_h4_iniNews<%= e.id %>" style="display:inherit; font-size: 12px;"><%= truncate(e.title, :length => 15) %></h4>
          <div id="hiddenDetails_h4_iniNews<%= e.id %>" style="display:none; font-size: 14px; padding-top: 20px;">
            <p style="font-size: 12px;"><%= truncate(e.title, :length => 40) %></p>
            <p style="font-size: 13px;color: #959595"><%= truncate(sanitize(strip_tags((e.content))), :length => 85) %><p>
          </div>

        </div>
        <div class="col-md-3">
          <div id="brief_time_iniNews<%= e.id %>" style="font-size: 8px;  text-align: right; color: #959595"><%= truncate(e.created_at.strftime("%F"), :length => 40) %></div>
          <div id="hiddenDetails_content_iniNews<%= e.id %>" style="display:none; font-size: 13px; color: #959595; padding-top: 160px">
            发布时期：<%= truncate(e.created_at.strftime("%F"), :length => 40) %>
            浏览次数：<%= e.issue_catch_counter%>

          </div>


        </div>
      </div>
      </a>
  <% end %>
</div>


<script>

    function newsDetails(obj) {
        var hiddenH4 = "hiddenDetails_h4_" + obj.name;
//        var hiddenP = "hiddenDetails_p_" + obj.name;
        var hiddenContent = "hiddenDetails_content_" + obj.name;

//        var briefP = "brief_p_" + obj.name;
        var briefH4 = "brief_h4_" + obj.name;
        var briefTime = "brief_time_" + obj.name;


//        document.getElementById(briefP).style.display = "none";
        document.getElementById(briefH4).style.display = "none";
        document.getElementById(briefTime).style.display = "none";

        document.getElementById(hiddenH4).style.display = "inherit";
//        document.getElementById(hiddenP).style.display = "inherit";
        document.getElementById(hiddenContent).style.display = "inherit";


    }

    function newsBrief(obj) {
        var hiddenH4 = "hiddenDetails_h4_" + obj.name;
//        var hiddenP = "hiddenDetails_p_" + obj.name;
        var hiddenContent = "hiddenDetails_content_" + obj.name;

//        var briefP = "brief_p_" + obj.name;
        var briefH4 = "brief_h4_" + obj.name;
        var briefTime = "brief_time_" + obj.name;


//        document.getElementById(briefP).style.display = "inherit";
        document.getElementById(briefH4).style.display = "inherit";
        document.getElementById(briefTime).style.display = "inherit";

        document.getElementById(hiddenH4).style.display = "none";
//        document.getElementById(hiddenP).style.display = "none";
        document.getElementById(hiddenContent).style.display = "none";

    }
</script>