<%= stylesheet_link_tag "Timeline/component.css" %>
<%= stylesheet_link_tag "Timeline/default.css" %>


<div class="main">


  <ul class="cbp_tmtimeline">

    <% issues.each do |issue| %>
        <li>
          <time class="cbp_tmtime" datetime=""><span><%= issue.created_at.strftime("%r") %></span>
            <span><%= issue.created_at.strftime("%F") %></span></time>
          <div class="cbp_tmicon cbp_tmicon-phone"></div>
          <div class="cbp_tmlabel">
            <a href="<%= shownews_url(issue) %>" id="timeline_a"><h2 align="center"><%= issue.title %></h2></a>

            <% content = strip_tags((issue.content)) %>
            <a href="<%= shownews_url(issue) %>" id="timeline_a">
              <p><%= truncate(sanitize(content), :length => 400) %></p>
            </a>
          </div>
        </li>
    <% end %>

    <li>
      <time class="cbp_tmtime" datetime=""><span><%= society.created_at.strftime("%r") %></span>
        <span><%= society.created_at.strftime("%F") %></span></time>
      <div class="cbp_tmicon cbp_tmicon-phone"></div>
      <div class="cbp_tmlabel">
        <a href="#top" id="timeline_a"><h2><%= society.to_s %> 于<%= society.created_at.strftime("%F") %> 在这里被创建</h2></a>
        </a>
      </div>
    </li>
  </ul>
</div>

