

  <%= stylesheet_link_tag "Win8/component.css" %>
  <%= stylesheet_link_tag "Win8/climacons.css" %>


<style>
    #rb:hover {
        opacity: 0.75;
    }
    #rb {
        opacity: 1.0;

    }
</style>


<div class="thumbnail">

  <ul id="rb-grid" class="rb-grid clearfix">

     <% tail = 0 %>
    <% societies.each do |e| %>
        <% head = ((e.id+Time.now.strftime("%h").to_i) % 4 + 1) %>
        <% if (head + tail > 4) %>
            <% head = 4 - tail %>
        <% end %>
        <a href="<%= societyshow_url(e) %>" id="rb" class="icon-clima-<%= ((e.id+Time.now.strftime("%M").to_i) % 12 + 1) %> rb-span-<%= head %>">
          <h3><%= e.to_s %></h3><span class="rb-temp"><%= e.num_registered_member %></span>
        </a>
        <% tail = ((e.id+Time.now.strftime("%h").to_i) % 4 + 1) %>
    <% end %>


  </ul>
</div>


<script>
    $(function () {

        Boxgrid.init();

    });
</script>

