<%= form_for(@message, :html => {:multipart => true}) do |f| %>
    <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

          <ul>
            <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="container">
      <div class="field">
        <%= f.number_field :user_id, :class => "hidden" %>
      </div>
      <div class="control-group">
        <!--<h5>留言内容</h5>-->
        <%= f.text_area :msg_content, :class => "form-control", :id => "wysihtml5-textarea", :placeholder => "留言内容", :rows => "10" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary btn-block", "data-loading-text" => "Loading...", value: "提交" %>
      </div>
    </div>
<% end %>
