<div id=<%= dom_id(message) %> class="message">
<li id="msgli<%= (SecureRandom.random_number(16)) % 8 + 1 %>">
  <a href="#" id="color<%= message.id % 8 + 1 %>">

    <h2>

      <% if message.user.nil? %>
          <%= message.user %>
      <% else %>
          <%= message.user.name %>
      <% end %>
    </h2>

    <p>
      <%= message.msg_content %>
    </p>

  </a>
</li>

    <!--=link_to '删除', [@user, comment], method: :delete, :remote => true, data: {confirm: 'Are you sure?'}-->


</div>


