<div id="messages_count"><%= messages_count %></div>

<div id="messages">
<%=
    #render "module/msg/msg", :message => @messages
    render @messages
%>
</div>
<%=
    #link_to 'New Message', new_message_path
    unless current_user_stu.nil?
      #render "messages/form"
    end
%>





<h3>Add your comment:</h3>

<%= form_for Message.new, :remote => true do |f| %>

    <p>
      <%= f.label :msg_content, "Comment" %><br />
      <%= f.text_area :msg_content, :rows => '12', :cols => 35 %>
    </p>
    <p><%= f.submit %></p>
<% end %>
