<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Msg content:</strong>
  <%= @message.msg_content %>
</p>

<p>
  <strong>Msg font:</strong>
  <%= @message.msg_font %>
</p>

<p>
  <strong>Msg position:</strong>
  <%= @message.msg_position %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
