<div class="container">
  <div class="form-signin">
  <%= render "static_page/notice_danger" %>

  <%= form_for(:session, url: sessions_path, :class => "form-signin") do |f| %>
      <h2 class="form-signin-heading">登录</h2>

      <%= f.text_field :email, :class => "form-control", :placeholder => "Email address", :autofocus => "true" %>

      <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

      <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>

</div>
</div>
