<div class="thumbnail">

  <div class="form-signin">
    <%= render "static_page/notice_danger" %>

    <%= form_for(:session, url: sessions_path, :class => "form-signin") do |f| %>
        <h2 class="form-signin-heading">登录</h2>

        <%= f.text_field :email, :class => "form-control", :placeholder => "Email address", :autofocus => "true", :type => "email" %>

        <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

        <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    </br>
    <p align="center">还没注册？ <%= link_to "注册", signup_url %></p>
  </div>
<!--<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), root_path %></td>-->

</div>
