<div class="">
  <div class="row">
    <div class="">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>每月访问状况</h3>
        </div>
        <div class="panel-body">
          <div id="quarterChart"></div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>每周访问状况</h3>

        </div>
        <div id="detailChart" class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<!--<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css"/>-->
<!--<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>-->

<script type="text/javascript">
    jQuery(function ($) {
        var performanceData = [
            { quarter: 0, min: 0, max: <%= @week4.count%>, values: [<%= @w4[0].count%>, <%= @w4[1].count%>, <%= @w4[2].count%>, <%= @w4[3].count%>, <%= @w4[4].count%>, <%= @w4[5].count%>, <%= @w4[6].count%>]},
            { quarter: 1, min: 0, max: <%= @week3.count%>, values: [<%= @w3[0].count%>, <%= @w3[1].count%>, <%= @w3[2].count%>, <%= @w3[3].count%>, <%= @w3[4].count%>, <%= @w3[5].count%>, <%= @w3[6].count%>] },
            { quarter: 2, min: 0, max: <%= @week2.count%>, values: [<%= @w2[0].count%>, <%= @w2[1].count%>, <%= @w2[2].count%>, <%= @w2[3].count%>, <%= @w2[4].count%>, <%= @w2[5].count%>, <%= @w2[6].count%>] },
            { quarter: 3, min: 0, max: <%= @week1.count%>, values: [<%= @w1[0].count%>, <%= @w1[1].count%>, <%= @w1[2].count%>, <%= @w1[3].count%>, <%= @w1[4].count%>, <%= @w1[5].count%>, <%= @w1[6].count%>] }
        ];
        $(function () {
            $("#quarterChart").shieldChart({
                exportOptions: {
                    image: false,
                    print: false
                },
                seriesSettings: {
                    rangebar: {
                        enablePointSelection: true
                    }
                },
                tooltipSettings: {
                    customPointText: "访问次数:<b>{point.high}</b>"
                },
                axisY: {
                    title: {
                        text: "访问次数"
                    }
                },
                axisX: {
                    categoricalValues: ["3周前", "2周前", "1周前", "这周"]
                },
                primaryHeader: {
                    text: "最近4周访问情况"
                },
                dataSeries: [
                    {
                        seriesType: "rangebar",
                        collectionAlias: "Low/High",
                        data: $.map(performanceData, function (item, index) {
                            return [
                                [item.min, item.max]
                            ];
                        })
                    }
                ],
                events: {
                    pointSelect: function (args) {
                        var detailData = performanceData[args.point.x].values,
                                detailChartElement = $("#detailChart"),
                                detailChart = detailChartElement.swidget(),
                                initialOptions = detailChart.initialOptions,
                                headerText = args.point.name + " Performance";
                        detailChart.destroy();
                        detailChartElement.shieldChart($.extend(initialOptions, {
                            primaryHeader: {
                                text: headerText
                            },
                            dataSeries: [
                                {
                                    seriesType: "line",
                                    collectionAlias: "访问次数",
                                    data: detailData
                                }
                            ]
                        }));
                    }
                }
            });
            $("#detailChart").shieldChart({
                exportOptions: {
                    image: false,
                    print: false
                },

                axisX: {
                    categoricalValues: ["7天前", "6天前", "5天前", "4天前", "3天前", "2天前", "1天前"]
                },

                axisY: {
                    title: {
                        text: "访问次数"
                    }
                },
                primaryHeader: {
                    text: "每天访问状况"
                },
                dataSeries: [
                    {
                        seriesType: "line",
                        collectionAlias: "访问次数",
                        data: performanceData[0].values
                    }
                ]
            });
        });
    });
</script>