<style>
    #indn {
        border-bottom: solid;
        border-bottom-color: #e1e4e7;
        border-bottom-width: 1px;
        /*border: 0px;*/
    }

    #index_list {
        /*min-height: 70px;*/
        border: 0px;
        border-bottom: solid;
        border-bottom-color: #e1e4e7;
        border-bottom-width: 2px;
        /*padding-top: 20px;*/
    }

    #index_list:hover {
        background-color: #efefef;
    }

    #issuesLast {
        /*min-height: 70px;*/
        border: 0px;
        border-bottom: solid;
        border-bottom-color: #e1e4e7;
        border-bottom-width: 1px;
        /*padding-top: 20px;*/
        /*border-bottom: none;*/
    }

    #iniLastestIcon {
        padding-top: 12px;
    }
</style>

<%
   def find_next(a, e)
     a.join('-') =~ /#{e}-([^-]*)/ ? $1 : e
   end

   def get_url(url, obj)
     if url.to_s == "shownews"
       return shownews_url(obj)
     else
       if url.to_s == "shownotis"
         return shownotis_url(obj)
       else
         return
       end
     end
   end

   def get_type(obj, array)
     if obj == "Issue"
       return Issue.find_by_id(array.last.last)
     else
       if obj == "Noti"
         return Noti.find_by_id(array.last.last)
       else
         return
       end
     end
   end

%>

<div class="list-group">
  <%
     tempArray = Array.new()
  %>

  <% @last_current_user_id.each do |l| %>
      <% if tempArray.length >= 5 %>
          <% break %>
      <% end %>
      <% if tempArray.include?([l.impressionable_type, l.impressionable_id]) %>
          <% next %>
      <% else %>
          <% tempArray.push([l.impressionable_type, l.impressionable_id]) %>
          <% e = get_type(l.impressionable_type, tempArray) %>
          <% unless l == @last_current_user_id.last %>
              <a href="<%= get_url(l.action_name, e) %>" class="list-group-item" id="index_list">
          <% else %>
              <a href="<%= get_url(l.action_name, e) %>" class="list-group-item" id="issuesLast">
          <% end %>
          <div class="row">
            <div class="col-md-2" id="iniLastestIcon">
              <% unless e.user.nil? || e.user.avatar_file_name.nil? %>
                  <%= image_tag e.user.avatar.url(:mini) %>
              <% end %>
            </div>
            <div class="col-md-7">
              <h4 class="" style="font-size: 12px;"><%= truncate(e.title, :length => 12) %></h4>

              <div class="" style="font-size: 12px; padding: 0 0 0 0; color: #aaaaaa"><%= truncate(sanitize(strip_tags((e.content))), :length => 28) %></div>
            </div>
            <div class="col-md-3">
              <div class="small" style="font-size: 8px; padding-top: 30%; text-align: right; color: #959595"><%= time_ago_in_words(l.created_at) %>
                前浏览
              </div>
            </div>
          </div>
          </a>
      <% end %>
  <% end %>
  <a href="/news">
    <button class="btn btn-primary btn-block" disable_with='提交中...'>更多动态</button>
  </a>
</div>

