<div id="home_carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->

      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag @background_active.ava_pic.url(:medium) %>
          <div class="carousel-caption">

          </div>
        </div>

        <% @backgrounds_standby.each do |bg| %>
        <div class="item">
          <%= image_tag bg.ava_pic.url(:medium) %>
          <div class="carousel-caption">

          </div>
        </div>
        <% end %>
      </div>


</div>
<!--<div class="container">-->

<div class="row" id="home_panel1">
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= link_to "学校新闻", "/news" %></div>
      <div class="panel-body">
        <ul class="list-group">
          <% @issues_school.each do |issue| %>
              <li class="list-group-item"><%= link_to truncate(issue.title, :length => 12), shownews_url(issue) %>
                <div align="right" id="home_div">
                  <small><%= issue.created_at.strftime("%m-%e-%Y") %></small>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default" id="home_pane2">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= link_to "社团新闻", "/news" %></div>
      <div class="panel-body">
        <ul class="list-group">
          <% @issues_sl.each do |issue| %>
              <li class="list-group-item"><%= link_to truncate(issue.title, :length => 12), shownews_url(issue) %>
                <div align="right" id="home_div">
                  <small><%= issue.created_at.strftime("%m-%e-%Y") %></small>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default" id="home_pane3">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= link_to "活动通知", "/news" %></div>
      <div class="panel-body">
        <ul class="list-group">
          <% @issues_notice.each do |issue| %>
              <li class="list-group-item"><%= link_to truncate(issue.title, :length => 12), shownews_url(issue) %>
                <div align="right" id="home_div">
                  <small><%= issue.created_at.strftime("%m-%e-%Y") %></small>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--</div>-->


