<style>


    #te {
        /*background: firebrick;*/
        /*border-right-style: solid;*/
        /*border-color: #dcdcdc;*/
        /*height: 400px;*/
        /*background: #fffffe;*/
    }

    #rightcontent_so {
        border-left-style: solid;
        border-color: #eee;
        background: #fffffe;
        margin: 3% 0 2% 0;
        min-height: 470px;
        max-height: 470px;
        /*overflow: auto;*/
        /*overflow-y: visible;*/
    }

    #society {
        text-align: center;
    }

    #index_scet {
        /*min-height: 480px;*/
        /*max-height: 480px;*/
        margin-bottom: 90px;
    }

    #right_constant {
        min-height: 430px;
        max-height: 430px;
        overflow: auto;
    }

    #left_dynamic {
        /*min-height: 430px;*/
        max-height: 430px;
        overflow: auto;
    }

    a:hover {
        text-decoration: none;
    }

    #index_frame {
        margin-top: 20px;
    }

    .tab-content {
        border-style: hidden;
    }

    #inemb {
        padding-top: 2%;
    }

    .tindex {
        border-width: 0;
    }

    .indexTop {
        background-color: #000000;
    }
</style>



<%=
    #render "module/video"
%>


<div class="thumbnail tindex">

<div id="indexTop">

  <div class="thumbnail tindex " id="idhead">
    <div id="inemb">
      <%=
          render "module/nmolist", :issues => @issues_society
      %>
    </div>
  </div>

  <hr>
  <div class="thumbnail tindex" id="idhead">
    <div id="inemb">
      <%=
          render "static_page/indexNews"
      %>
    </div>
  </div>
</div>

</div>

<div class="col-md-12 thumbnail" id="index_scet">
<div class="panel panel-default" id="index_frame">
<div class="panel-body">
<div class="col-md-2" id="te">
  <h5>优秀社团</h5>
  <ul class="nav nav-stacked" id="society">
    <% counter = true %>
    <% @societies.each do |s| %>
        <% if counter %>
            <li class="active"><a href="#<%= s.id %>" data-toggle="tab" style="font-size: 14px"><%= s.society_name %></a></li>
            <% counter = false %>
        <% else %>
            <li><a href="#<%= s.id %>" data-toggle="tab" style="font-size: 14px"><%= s.society_name %></a></li>
        <% end %>
    <% end %>
  </ul>
</div>
<!-- Tab panes -->
<div class="col-md-10" id="rightcontent_so">
<div class="tab-content" id="notinav">

<% counter = true %>
<% @societies.each do |s| %>
    <% if counter %>
        <div class="tab-pane fade in active" id="<%= s.id %>">

          <ul class="nav nav-tabs nav-justified" id="society">
            <li class="active"><a href="#<%= s.id %>_pro" data-toggle="tab">社团资料</a></li>
            <li><a href="#<%= s.id %>_act" data-toggle="tab">精品活动</a></li>
            <li><a href="#<%= s.id %>_his" data-toggle="tab">社团历史</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="col-md-6" id="left_dynamic">
            <div class="tab-content" id="">
              <div class="tab-pane fade in active" id="<%= s.id %>_pro">

                <h6>社团LOGO</h6>

                <h6>社团主席: </h6><%= s.president %>

                <h6>社团介绍: </h6><%= s.profile %>

                <h6>社团主页: </h6><%= link_to societyshow_url(s), societyshow_url(s) %>

              </div>
              <div class="tab-pane fade" id="<%= s.id %>_act">

                <table class="table table-hover">
                  <thead>
                  <tr style="font-size: 13px">
                    <th>活动主题</th>
                    <th>开始时间</th>
                    <th>人数</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% s.notis.reverse.each do |sn| %>
                      <tr style="font-size: 12px">
                        <td>
                          <%= link_to truncate(sn.title, :length => 7), shownotis_url(sn) %>
                        </td>
                        <td>
                          <%= link_to sn.start_time.strftime("%F"), shownotis_url(sn) %>
                        </td>
                        <td>
                          <%=
                              #link_to sn.in_members, shownotis_url(sn)
                          %>
                          100
                        </td>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>


              <div class="tab-pane fade" id="<%= s.id %>_his">
                <h6>社团历史: </h6><%= s.history %>
              </div>
            </div>
          </div>

          <div class="col-md-6" id="right_constant">
            <table class="table table-hover">
              <thead>
              <tr style="font-size: 13px">
                <th>新闻标题</th>
                <th>发布时间</th>
                <th>浏览</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              <%
                 #s.issues_good.reverse.each do |sn|
              %>
              <% s.issues.reverse.each do |sn| %>
                  <tr style="font-size: 12px">
                    <td>
                      <%= link_to truncate(sn.title, :length => 7), shownews_url(sn) %>
                    </td>
                    <td>
                      <%= link_to sn.created_at.strftime("%F"), shownews_url(sn) %>
                    </td>
                    <td>
                      <%=
                          #link_to sn.in_members, shownews_url(sn)
                      %>
                      <% if sn.issue_catch_counter.nil? %>
                          0 次
                      <% else %>
                          <%= sn.issue_catch_counter %> 次
                      <% end %>
                    </td>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
        <% counter = false %>
    <% else %>
        <div class="tab-pane fade in" id="<%= s.id %>">

          <ul class="nav nav-tabs nav-justified" id="society">
            <li class="active"><a href="#<%= s.id %>_pro" data-toggle="tab">社团资料</a></li>
            <li><a href="#<%= s.id %>_act" data-toggle="tab">精品活动</a></li>
            <li><a href="#<%= s.id %>_his" data-toggle="tab">社团历史</a></li>
          </ul>

          <div class="col-md-6" id="left_dynamic">
            <div class="tab-content" id="">
              <div class="tab-pane fade in active" id="<%= s.id %>_pro">

                <h6>社团LOGO</h6>

                <h6>社团主席: </h6><%= s.president %>

                <h6>社团介绍: </h6><%= s.profile %>

                <h6>社团主页: </h6><%= link_to societyshow_url(s), societyshow_url(s) %>
              </div>
              <div class="tab-pane fade" id="<%= s.id %>_act">

                <table class="table table-hover">
                  <thead>
                  <tr style="font-size: 13px">
                    <th>活动主题</th>
                    <th>开始时间</th>
                    <th>人数</th>
                    <th></th>
                  </tr>
                  </thead>

                  <tbody>
                  <% s.notis.reverse.each do |sn| %>
                      <tr style="font-size: 12px">
                        <td>
                          <%= link_to truncate(sn.title, :length => 7), shownotis_url(sn) %>
                        </td>
                        <td>
                          <%= link_to sn.start_time.strftime("%F"), shownotis_url(sn) %>
                        </td>
                        <td>
                          <%=
                              #link_to sn.in_members, shownotis_url(sn)
                          %>
                          100
                        </td>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>


              <div class="tab-pane fade" id="<%= s.id %>_his">
                <h6>社团历史: </h6><%= s.history %>
              </div>
            </div>
          </div>

          <div class="col-md-6" id="right_constant">
            <table class="table table-hover">
              <thead>
              <tr style="font-size: 13px">
                <th>新闻标题</th>
                <th>发布时间</th>
                <th>浏览</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              <% s.issues.reverse.each do |sn| %>
                  <tr style="font-size: 12px">
                    <td>
                      <%= link_to truncate(sn.title, :length => 7), shownews_url(sn) %>
                    </td>
                    <td>
                      <%= link_to sn.created_at.strftime("%F"), shownews_url(sn) %>
                    </td>
                    <td>
                      <%=
                          #link_to sn.in_members, shownews_url(sn)
                      %>
                      <%= sn.issue_catch_counter %>
                    </td>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
    <% end %>
<% end %>
</div>
</div>
</div>
</div>
</div>




