<style>
    #main_content {
        /*background: #f6f7fb*/
    }

    #side_content {
        /*background: #f6f7fb*/
    }

    #te {
        /*background: firebrick;*/
        border-right-style: solid;
        border-color: #dcdcdc;
        height: 550px;
    }
</style>


<div class="col-md-2" id="te">
  <!--<div class="panel">-->
    <h3>新闻部落</h3>
  <!--</div>-->
</div>

<div class="col-md-10">
  <ul class="nav nav-tabs nav-justified" id="myTab">
    <li class="active"><a href="#society" data-toggle="tab">社团新闻</a></li>
    <li><a href="#school" data-toggle="tab">学校新闻</a></li>
    <li><a href="#global" data-toggle="tab">世界时事</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="notinav">
    <div class="tab-pane fade in active" id="society">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
    <div class="tab-pane fade" id="school">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
    <div class="tab-pane fade" id="global">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
  </div>

</div>


<div class="col-md-2" id="te">
  <h3>新闻部落</h3>
</div>

<div class="col-md-10">
  <ul class="nav nav-tabs nav-justified" id="myTab">
    <li class="active"><a href="#society" data-toggle="tab">社团新闻</a></li>
    <li><a href="#school" data-toggle="tab">学校新闻</a></li>
    <li><a href="#global" data-toggle="tab">世界时事</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="notinav">
    <div class="tab-pane fade in active" id="society">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
    <div class="tab-pane fade" id="school">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
    <div class="tab-pane fade" id="global">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
  </div>

</div>
<div class="col-md-2" id="te">
  <h3>新闻部落</h3>
</div>

<div class="col-md-10">
  <ul class="nav nav-tabs nav-justified" id="myTab">
    <li class="active"><a href="#society" data-toggle="tab">社团新闻</a></li>
    <li><a href="#school" data-toggle="tab">学校新闻</a></li>
    <li><a href="#global" data-toggle="tab">世界时事</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="notinav">
    <div class="tab-pane fade in active" id="society">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
    <div class="tab-pane fade" id="school">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
    <div class="tab-pane fade" id="global">
      <%=
          render "module/indexcell/cell1", :issues => @topnews
      %>
    </div>
  </div>

</div>




