<style>

    a:hover {
        text-decoration: none;
    }

    #index_frame {
        margin-top: 20px;
    }

    .tab-content {
        border-style: hidden;
    }

    #inemb {
        padding-top: 2%;
    }

    .tindex {
        border-width: 0;
    }

    .indexTop {
        background-color: #000000;
    }

    .nav-indexTabs {
        background-color: #ECF0F1;
        line-height: 20px;
        text-align: center;
        margin: 0;
        padding: 0;
        position: relative;
        border-width: 0px;
    }

    .nav-indexTabs li {
        width: 50%;
    }

    .iniCarousel {
        border-bottom: 1px solid #ECF0F1;
        margin-bottom: 20px;
    }
</style>



<%=
    #render "module/video"
%>


<div id="indexTopFrame">
  <div class="col-xs-12 col-md-8" id="leftContent">
    <div id="SocNews">
      <div class="thumbnail panel" id="HitNews">
        <div class="iniCarousel">
          <%=
              render "module/indexcarousel", :issues => @issues_index
          %>
        </div>
        <!-- End of carousel-->

        <div id="iniNews">
          <%=
              render "iniNews"
          %>
        </div>
        <!-- End of news-->


      </div>
      <div id="iniCharts">
        <%=
            render "iniCharts"
        %>
      </div>
    </div>

  </div>
  <!-- End of leftContent-->

  <div class="col-xs-6 col-md-4" id="rightContent">


    <div class="thumbnail panel" id="LoginorReg">
      <%=
          render "iniRegLogin"
      %>
    </div>

    <!-- End of Login/Reg Panel-->

    <div class="thumbnail panel" id="rightActivities">
      <%=
          render "iniInfoActis"
      %>
    </div>
    <!-- End of Activities' Panel-->

    <div class="thumbnail panel" id="indexDownload">
      <%=
          render "iniDownload"
      %>
    </div>
    <!-- End of Download' Panel-->

  </div>
  <!-- End of rightContent-->

</div>

<div id="indexBottomFrame">
  <div id="iniNews">
    <%=
        render "iniSociety"
    %>
  </div>

</div>










