<div class="panel panel-info">
  <div class="panel-heading">
    <h2 align="center"><%= @issue.title %></h2>
  </div>
  <div class="panel-heading">
    <div>发表于： <%= @issue.created_at.strftime("%m-%e-%Y  %H:%M") %> | 作者： <%= @issue.author %> </div>
  </div>
  <div class="panel-body">
    <%= image_tag @issue.issue_pic.url(:medium) %>
                            <hr>
  </div>
  <div class="panel-body">
    <pre id="issue_pre"><h5><%= "#{@issue.content}" %></h5></pre>
    <%= render 'module/rotator',:issues => @issues  %>

  </div>

</div>
<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), news_path %></td>





