<div id=<%= dom_id(comment) %> class="comment">
<li>
  <p>
    <% if comment.user.nil? %>
        <%= comment.user.stuid %>:
    <% else %>
        <%= comment.user.name %>:
    <% end %>
  </p>

  <p>
    <%= comment.content %>
  </p>
</li>
<td><%= link_to '删除', [@user, comment], method: :delete, :remote => true ,data: {confirm: 'Are you sure?'} %></td>

</div>


