<%= javascript_include_tag "tin" %>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: "image link spellchecker charmap media table autosave searchreplace visualblocks textcolor visualchars insertdatetime fullscreen",
        link_list: [
            {title: '桂电主页', value: 'http://www.guet.cn'},
            {title: '社联主页', value: 'http://stlhh.guet.edu.cn'}
        ],
        tools: "inserttable searchreplace visualchars insertdate",
        insertdatetime_formats: ["%Y.%m.%d", "%H:%M"],
        language: 'zh_CN',
        browser_spellcheck: true,
        statusbar: true,
        theme_advanced_buttons_add: "fullscreen",
        fullscreen_new_window: true,
        fullscreen_settings: {
            theme_advanced_toolbar_location: "top"
        }

    });
</script>




<%= form_for([@user, @issue], :html => {:multipart => true}) do |f| %>
    <% if @issue.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-warning">
            <h2>以下<%= pluralize(@issue.errors.count, "") %> 项不合法操作导致提交失败:</h2></div>
          <ul>
            <% @issue.errors.full_messages.each do |msg| %>

                <li>
                  <div class="alert alert-danger"><%= msg %></div>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="author" class="col-sm-2 control-label">发布者</label>

            <div class="col-sm-10">
              <% if @user.name == "" || @user.name == nil %>
                  <%= f.text_field :author, :class => "form-control", :value => @user.stuid, :readonly => "true" %>
              <% else %>
                  <%= f.text_field :author, :class => "form-control", :value => @user.name, :readonly => "true" %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">新闻标题</label>

            <div class="col-sm-10">
              <%= f.text_field :title, :class => "form-control", :id => "inputEmail3", :placeholder => "新闻标题" %>
            </div>
          </div>


          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">新闻内容</label>

            <div class="col-sm-10">
              <%= f.text_area :content, :class => "form-control", :placeholder => "新闻内容", :rows => "10" %>
            </div>
          </div>


          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">所属社团</label>
            <%= f.select :society_id, @user.user_societies(:all).collect { |s|
              [(s.society), s.society_id] } %>

            <div class="col-sm-10">

            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">新闻类型</label>
            <%= f.select :category_id,
                         Category.where('id = 2 OR id = 3').collect { |s|
                           [(s.category_name), s.id] }
            %>

            <div class="col-sm-10">

            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">新闻图片</h3>
            </div>
            <div class="panel-body">

              <div class="control-group">

                <div class="controls">
                  <%= f.fields_for :issue_images do |fm| %>
                      <% if fm.object.new_record? %>
                          <p>
                            <%= fm.file_field :issue_pic %>
                          </p>
                      <% end %>
                  <% end %>
                  <hr>
                  <%= f.fields_for :issue_images do |fm| %>
                      <% unless fm.object.new_record? %>
                          <div class="col-sm-6 col-md-4">

                            <P><%= image_tag(fm.object.issue_pic.url(:thumb)) %></p>
                            <%= fm.check_box :_destroy %> 删除照片?
                          </div>
                      <% end %>
                  <% end %>

                </div>
              </div>

            </div>
          </div>
          <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary btn-block", value: "提交" %>
            </div>
          </div>
        </form>
      </div>
    </div>
<% end %>




