<!--<div id="wysihtml5-toolbar" style="display: none;">-->
<!--<a data-wysihtml5-command="bold">bold</a>-->
<!--<a data-wysihtml5-command="italic">italic</a>-->
<!--<a data-wysihtml5-command="underline">underline</a>-->

<!--<a data-wysihtml5-command="insertOrderedList">insert ordered list</a>-->
<!--<a data-wysihtml5-command="insertUnorderedList">insert unordered list</a>-->

<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>-->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>-->
<!--<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>-->

<!--<a data-wysihtml5-command="createLink">insert link</a>-->

<!--<div data-wysihtml5-dialog="createLink" style="display: none;">-->
<!--<label>-->
<!--Link: <input data-wysihtml5-dialog-field="href" value="http://" class="text">-->
<!--</label>-->
<!--<a data-wysihtml5-dialog-action="save">OK</a>-->
<!--<a data-wysihtml5-dialog-action="cancel">Cancel</a>-->
<!--</div>-->
<!--</div>-->

<%= form_for([@user, @issue], :html => {:multipart => true}) do |f| %>
    <% if @issue.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

          <ul>
            <% @issue.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="author" class="col-sm-2 control-label">发布者</label>

            <div class="col-sm-10">
              <% if @user.name == "" || @user.name == nil %>
                  <%= f.text_field :author, :class => "form-control", :value => @user.stuid, :readonly => "true" %>
              <% else %>
                  <%= f.text_field :author, :class => "form-control", :value => @user.name, :readonly => "true" %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">新闻标题</label>

            <div class="col-sm-10">
              <%= f.text_field :title, :class => "form-control", :id => "inputEmail3", :placeholder => "新闻标题" %>
            </div>
          </div>


          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">新闻内容</label>

            <div class="col-sm-10">
              <%= f.text_area :content, :class => "form-control", :id => "wysihtml5-textarea", :placeholder => "新闻内容", :rows => "10" %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">所属社团</label>
            <%= f.select :society_id, @user.user_societies(:all).collect { |s|
              [(s.society), s.society_id] } %>

            <div class="col-sm-10">

            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">新闻类型</label>
            <%= f.select :category_id, Category.find(:all).collect { |s|
              [(s.category_name), s.id] } %>

            <div class="col-sm-10">

            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">新闻图片</h3>
            </div>
            <div class="panel-body">

              <div class="control-group">

                <div class="controls">
                  <%= f.fields_for :issue_images do |fm| %>
                      <% if fm.object.new_record? %>
                          <p>
                            <%= fm.file_field :issue_pic %>
                          </p>
                      <% end %>
                  <% end %>
                  <hr>
                  <%= f.fields_for :issue_images do |fm| %>
                      <% unless fm.object.new_record? %>
                            <div class="col-sm-6 col-md-4">

                              <P><%= image_tag(fm.object.issue_pic.url(:thumb)) %></p>
                              <%= fm.check_box :_destroy %> 删除照片?
                            </div>
                      <% end %>
                  <% end %>

                </div>
              </div>

            </div>
          </div>
          <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary btn-block", value: "提交" %>
            </div>
          </div>
        </form>
      </div>
    </div>
<% end %>

















<!-- Here is the script for text editor, so far it's not useful yet-->

<!--<script>-->
<!--//    var editor = new wysihtml5.Editor("wysihtml5-textarea", {-->
<!--//        toolbar:      "wysihtml5-toolbar",-->
<!--//        stylesheets:  "<%= stylesheet_path('wysiwyg') %>",-->
<!--//        parserRules:  wysihtml5ParserRules-->
<!--//    });-->
<!--</script>-->



