<h1>Listing issues</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>
        <td><%= issue.content %></td>
        <td><%= issue.date %></td>
<<<<<<< HEAD
        <td><%= issue.user.name %></td>
=======
        <td><%= issue.user.get_name %></td>
>>>>>>> 5ca2571934df2e2f1f78f1ccbea7d6db10dbbed3
        <td><%= link_to 'Show', [@user, issue] %></td>
        <td><%= link_to 'Edit', edit_user_issue_path(@user, issue) %></td>
        <td><%= link_to 'Destroy', [@user, issue], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'New Issue', new_user_issue_path(@user) %>
  <%= link_to 'Back', @user %>
</p>