<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @issue.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @issue.date %>
</p>

<p>
  <strong>User:</strong>
<<<<<<< HEAD
  <%= @issue.user.name %>
=======
  <%= @issue.user.get_name %>
>>>>>>> 5ca2571934df2e2f1f78f1ccbea7d6db10dbbed3
</p>

<%= link_to 'Edit', edit_user_issue_path(@user,@issue) %> |
<%= link_to 'Back', user_issues_path(@user) %>
