<h1>Listing timetables</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Title</th>
      <th>Content</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.user_id %></td>
        <td><%= timetable.start_time %></td>
        <td><%= timetable.end_time %></td>
        <td><%= timetable.title %></td>
        <td><%= timetable.content %></td>
        <td><%= timetable.location %></td>
        <td><%= link_to 'Show', timetable %></td>
        <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
        <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
