<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timetable.user_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @timetable.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @timetable.end_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @timetable.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @timetable.content %>
</p>

<p>
  <strong>Location:</strong>
  <%= @timetable.location %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
