

<div class="well">

  <h3><a href="<%= shownews_url(issue)%>"><%= issue.title%></a></h3>

  <p>
    <%= truncate(issue.content, :length => 50)%>
  </p>

  <p><a href="<%= shownews_url(issue)%>"><%= issue.created_at.strftime("%F %R")%></a></p>
</div>

<hr>