<%= stylesheet_link_tag "ViewModeSwitch/component.css" %>
<%= javascript_include_tag "ViewModeSwitch/modernizr.custom.js" %>


<div class="main">
  <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-list">

    <div class="cbp-vm-options">
      <a href="#" class="cbp-vm-icon cbp-vm-list cbp-vm-selected" data-view="cbp-vm-view-list">List View</a>
      <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
    </div>
    <ul>

      <% issues.each do |issue| %>
          <li>

            <p class="cbp-vm-title" style="font-size: 12px;"><%= truncate(issue.title, :length => 20) %></p>

            <div class="cbp-vm-price" style="font-size: 12px;"><%= issue.created_at.strftime("%m-%e-%Y") %></div>
            <div class="cbp-vm-details" style="font-size: 12px;">
              <%= truncate(issue.content, :length => 20) %>
            </div>
            <a class="cbp-vm-icon cbp-vm-add" href="<%= shownotis_url(issue) %>" style="font-size: 12px; margin-right: 0">详细</a>
          </li>
      <% end %>


    </ul>
  </div>
</div>


<%= javascript_include_tag "ViewModeSwitch/classie.js" %>
<%= javascript_include_tag "ViewModeSwitch/cbpViewModeSwitch.js" %>
