<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">

      <%= f.label :stuid %>
      <br>
      <%= @user.stuid %>
    </div>


    <div class="field">
      <%= f.label :email %>
      <br>
      <%= @user.email %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :gender %>
      <br>
      <%= f.select :gender, [['男', '男'], ['女', '女'], ['其他', '其他']] %>
    </div>
    <div class="field">
      <%= f.label :contact %>
      <br>
      <%= f.text_field :contact %>
    </div>
    <div class="field">
      <%= f.label :department %>
      <br>
      <%= f.select :department, [['主席团', '主席团'], ['公益实践中心', '公益实践中心'], ['文娱兴趣中心', '文娱兴趣中心'], ['体育竞技中心', '体育竞技中心'], ['文娱兴趣中心', '文娱兴趣中心'], ['微博中心', '微博中心'], ['办公室', '办公室'], ['网络部', '网络部'], ['外联部', '外联部'], ['财务部', '财务部'], ['新闻部', '新闻部'], ['组织部', '组织部']] %>
    </div>
    <div class="field">
      <%= f.label :proverb %>
      <br>
      <%= f.text_area :proverb %>
    </div>
    <div class="field">
      <%= f.label :admin %>
      <br>
      <%= f.check_box :admin %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
