<% if session[:user_id] && current_user_stu %>

    <%= javascript_include_tag "Chart.js" %>

    <!-- Line chart-->
    <div class="thumbnail">
      <div align = "center">最近一周浏览状况</div>
      <canvas id="canvas" height="450" width="600"></canvas>
    </div>


    <!-- Records tables-->
    <div class="thumbnail">

      <%
         tempArray = Array.new()
      %>
      <table class="table table-striped">
        <thead>
        <tr style="font-size: 12px">

          <!--<th>发布人</th>-->
          <th>标题</th>
          <th>类型</th>
          <th>时间</th>
          <th>IP</th>

        </tr>
        </thead>

        <tbody>
        <% @last_recs.each do |m| %>
            <a>
              <% tempArray.push([m.impressionable_type, m.impressionable_id]) %>
              <% e = get_type(m.impressionable_type, tempArray) %>
              <tr style="font-size: 14px">

                <td><%= link_to truncate(e.title, :length => 20), get_url(m.action_name, e) %>
                </td>
                <td><%= e.category.category_name %>
                </td>
                <td><%= m.created_at.strftime("%F %T") %>
                </td>
                <td><%= m.ip_address %>
                </td>
              </tr>
            </a>
        <% end %>
        <tbody>
        </table>
    </div>
    <div class="paginate">
      <%= will_paginate @last_recs, :previous_label => t("前一页"), :next_label => t("后一页"), :renderer => 'BootstrapPaginationHelper::LinkRenderer' %>
    </div>

<% else %>
    <%= render "static_page/access_error", :notice => "Sessions过期或用户错误，请重新#{link_to('登录', signin_url)}".html_safe %>

<% end %>



<script>
    <%
now = Time.now
days = [        (now - 6.day),
                (now - 5.day),
                (now - 4.day),
                (now - 3.day),
                (now - 2.day),
                (now - 1.day),
                now        ]
%>
    var lineChartData = {
        labels: [
            <% days.each do |d| %>
            "<%= d.strftime("%A") %>"
            <% if d != days.last %>
            ,
            <% end %>
            <% end %>],
        datasets: [

            {
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                data: [
                    <% days.each do |d| %>
                    <%= @last_recs_chart.find_all{|e| e.created_at.wday == d.wday}.count %>
                    <% if d != days.last %>
                    ,
                    <% end %>
                    <% end %>]
            }
        ]


    }

    var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

</script>
