<%= render 'static_page/error_messages' %>
<div class="panel panel-default">
  <div class="panel-heading">
  <h2 class="form-signin-heading">注册</h2></div>
<div class="panel-body">


  <div class="container">
    <div class="form-signin">
      <%= form_for(@user) do |f| %>


          <%= f.text_field :stuid, :class => "form-control", :placeholder => "Student ID" %>

          <%= f.text_field :email, :class => "form-control", :placeholder => "Email address (As your login account)" %>

          <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

          <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation" %>

          <%= f.submit "创建新用户", class: "btn btn-large btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
</div>

<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), users_path %></td>
