<%= render 'static_page/error_messages' %>
<div class="thumbnail">

  <h2 align="center">注册</h2>

  <div class="row">
    <div class="form-signin">
      <%= form_for(@user) do |f| %>


          <%= f.text_field :stuid, :class => "form-control", :placeholder => "Student ID" %>

          <%= f.text_field :email, :class => "form-control", :placeholder => "Email address (As your login account)", :type => "email" %>

          <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

          <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation" %>

          <%= f.submit "创建新用户", class: "btn btn-large btn-primary btn-block" %>
      <% end %>
    </div>
  </div>



<!--<td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), root_path %></td>-->
</div>