<%= render "static_page/notice_flash" %>

<% if @current_user_stu.id == @user.id || @current_user_stu.admin %>


    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><%= @user.name %></h3>
    </div>
    <div class="panel-body">

    <!-- Collapse -->
    <div class="panel-group" id="accordion">

    <!--用户资料-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseProfile" id="coll_a1"> 用户资料
          </a>
        </h4>
      </div>
      <div id="collapseProfile" class="panel-collapse collapse in">
        <div class="panel-body">

          <!-- Table -->
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th></th>

            </tr>
            </thead>

            <tbody>
            <tr>

              <td><strong>学号: </strong></td>
              <td><%= @user.stuid %></td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td><strong>姓名: </strong></td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td><strong>性别: </strong></td>
              <td><%= @user.gender.to_s %></td>
            </tr>
            <tr>
              <td><strong>联系方式: </strong></td>
              <td><%= @user.contact %></td>
            </tr>
            <tr>
              <td><strong>加入社团数: </strong></td>
              <td><%= @user.user_societies.count %></td>
            </tr>

            <tr>
              <td><strong>照片: </strong></td>
              <% if @user.avatar_file_name.nil? %>
                  <td>
                    <div class="text-danger">暂无照片</div>
                  </td>
              <% else %>
                  <td><%= image_tag @user.avatar.url(:thumb) %></td>
              <% end %>
            </tr>

            <tr>
              <td><strong>个人简介:</strong></td>
              <td>
                <pre id="user_pre"><%= @user.proverb %></pre>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSociety" id="coll_a2"> 所属社团
            </a>
          </h4>
        </div>
        <div id="collapseSociety" class="panel-collapse collapse in">


          <% %>
          <% if (@user.user_societies) && (@user.user_societies.count > 0) %>
              <div class="panel-body">
                <table class="table">
                  <th>
                    所属中心
                  </th>
                  <th>
                    社团名字
                  </th>
                  <th>
                    加入时间
                  </th>

                  <tbody>
                  <% @user.user_societies.each do |s| %>
                      <tr>
                        <td>
                          <!--# need to update link when finished society views-->
                          <% case s.society.department.to_s %>
                          <% when "公益实践中心" %>
                              <%= link_to s.society.department.to_s, gy_url %>
                          <% when "文娱兴趣中心" %>
                              <%= link_to s.society.department.to_s, wy_url %>
                          <% when "体育竞技中心" %>
                              <%= link_to s.society.department.to_s, ty_url %>
                          <% when "学术科技中心" %>
                              <%= link_to s.society.department.to_s, xs_url %>
                          <% end %>
                        </td>
                        <td>
                          <!--# need to update link when finished society views-->


                          <%= link_to s.society, societyshow_path(s.society.id) %>
                        </td>
                        <td>
                          <%= s.created_at.strftime("%F") %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              </div>

          <% else %>
              <h3>尚未加入社团</h3>
          <% end %>

          </table>
          </div>
    </div>


    <!-- End of Collapse -->

    <!--发布的新闻-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNews" id="coll_a2">
            发布的新闻 </a>
        </h4>
      </div>
      <div id="collapseNews" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>标题</th>
              <th>所属社团</th>
              <th>日期</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% for issue in @user.issues %>
                <tr>

                  <td><%= truncate(issue.title, :length => 20) %></td>
                  <td><%= issue.society %></td>
                  <td><%= issue.created_at.strftime("%d %b. %Y") %></td>
                  <td><%= link_to '详细', [@user, issue] %></td>
                  <td><%= link_to '修改', edit_user_issue_path(@user, issue) %></td>
                  <td><%= link_to '删除', [@user, issue], method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- End of panel-->


    <!--发布的活动-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNotis" id="coll_a2">
            发布的活动 </a>
        </h4>
      </div>
      <div id="collapseNotis" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>标题</th>
              <th>所属社团</th>
              <th>日期</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% for noti in @user.notis %>
                <tr>

                  <td><%= truncate(noti.title, :length => 20) %></td>
                  <td><%= noti.society %></td>
                  <td><%= noti.created_at.strftime("%d %b. %Y") %></td>
                  <td><%= link_to '详细', [@user, noti] %></td>
                  <td><%= link_to '修改', edit_user_noti_path(@user, noti) %></td>
                  <td><%= link_to '删除', [@user, noti], method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>



    <!-- End of panel-->


    <td><%= link_to raw('<button type="button" class="btn btn-primary">更改信息</button>'), edit_user_path(@user) %></td>
    <td><%= link_to raw('<button type="button" class="btn btn-primary">发布新闻</button>'), new_user_issue_path(@user, @issue) %></td>
    <td><%= link_to raw('<button type="button" class="btn btn-primary">发布活动通知</button>'), new_user_noti_path(@user, @noti) %></td>
    <td><%= link_to raw('<button type="button" class="btn btn-primary">返回</button>'), root_path %></td
<% else %>
    <%= render "static_page/access_error", :notice => "用户错误" %>
<% end %>
>




