<%= render "static_page/notice_flash"%>

<% if @current_user.id == @user.id %>

    <strong>Stuid:</strong>
    <%= @user.stuid %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @user.gender %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= @user.contact %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @user.department %>
    </p>

    <p>
      <strong>Proverb:</strong>
      <%= @user.proverb %>
    </p>

    <% if @current_user.admin? %>
        <p>
          <strong>Admin:</strong>
          <%= @user.admin %>
        </p>
    <% end %>

    <h3>Issues</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>date</th>
      </tr>
      <% for issue in @user.issues %>
          <tr>
            <td><%= issue.title %></td>
            <td><%= issue.date %></td>
          </tr>
      <% end %> </table>


    <td><%= link_to 'Edit', edit_user_path(@user) %> </td>|
    <td><%= link_to 'Issues', user_issues_path(@user) %></td> |
    <td><%= link_to 'Back', users_path %></td>

<% else %>
    <%= render "static_page/access_error", :notice => "asdfasdf" %>
<% end %>
