<head>
  <%= stylesheet_link_tag "indexcell/component.css" %>
  <%= javascript_include_tag "indexcell/modernizr.custom.js" %>

  <!--<link rel="stylesheet" type="text/css" href="css/default.css" />-->
</head>

<%
   rankPics = (Time.now.strftime("%M").to_i) % 4 + 1
%>

<ul class="grid cs-style-6">
  <% issues.each do |i| %>
      <li>
        <figure>

          <!--<img src="http://photojournal.jpl.nasa.gov/jpeg/PIA17555.jpg">-->



              <%=
                  #asset_path "background/1.png"
              %>
          <figcaption>
            <h3 class="col-xs-12 col-md-8"><%= truncate(i.title, :length => 10) %></h3>
            <a class="col-xs-6 col-md-4" href="<%= shownews_url(i) %>">详细</a>
          </figcaption>
        </figure>
        <h4 text-align="center"><%= truncate(i.title, :length => 12) %></h4>

      </li>
  <% end %>
</ul>
<!--</div>-->
<%= javascript_include_tag "indexcell/toucheffects.js" %>

