<%= stylesheet_link_tag "SimpleDropDown/style6.css"%>
<%= javascript_include_tag "SimpleDropDown/modernizr.custom.63321.js" %>

<select id="cd-dropdown6" class="cd-select">
  <option value="#" selected>用户中心</option>
  <% if current_user_stu %>
      <option value="<%= user_url(session[:user_id]) %>" class="icon-user"><%= current_user_stu.email %></option>
      <option value="<%= new_user_issue_path(current_user_stu, @issue) %>" class="icon-pencil">发布新闻</option>
      <option value="<%= new_user_noti_path(current_user_stu, @noti) %>" class="icon-bullhorn">发布活动通知</option>
      <!--<option value="#" class="icon-star">登出</option>-->
  <% else %>
      <option value="/signup" class="icon-user">注册</option>
      <option value="/signin" class="icon-enter">登录</option>
  <% end %>
</select>



<%= javascript_include_tag "SimpleDropDown/jquery.dropdown.js" %>

<script type="text/javascript">

    $(function () {

        $('#cd-dropdown6').dropdown({
            gutter: 5,
            stack: false,
            delay: 100,
            slidingIn: 100
        });


    });

</script>

