<!--发布的新闻-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      出席活动时间表
    </h4>
  </div>
  <div class="panel-body">
    <div id='calendar'></div>
  </div>
</div>
<!-- End of panel-->



<%= stylesheet_link_tag "fullcalendar/fullcalendar.css" %>
<%= stylesheet_link_tag "fullcalendar.print.css" %>
<%= javascript_include_tag "fullcalendar/fullcalendar.min.js" %>
<%= javascript_include_tag "fullcalendar/jquery-ui.custom.min.js" %>




<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        if (e.target.hash == "#admin_timetable") {
//            reset calendar
            $("#calendar").html("");
//            add calendar related js
            $(document).ready(function () {

//                change ruby data to javascript data: var date = new Date(date.to_i*1000)
                <% ti = user.timetables.first%>
                var start_date = new Date(<%= Time.zone.now.to_datetime.to_i  * 1000 %>);

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    date: start_date.getDate(),
                    month: start_date.getMonth(),
                    year: start_date.getFullYear(),
                    allDaySlot: false,
                    defaultView: "agendaWeek",
                    theme: false,
                    editable: false,
                    minTime: 6,
                    maxTime: 24,
                    events: [

                        <% user.timetables.each do |t|%>
                        <%unless t.start_time.nil? && t.end_time.nil? %>
                        {
                            title: "<%= t.noti_name%>",
                            start: new Date(<%= t.start_time.to_datetime.to_i * 1000%>),
                            end: new Date(<%= t.end_time.to_datetime.to_i  * 1000%>),
                            url: "<%= shownotis_url(t.noti_id)%>",
                            allDay: false
                        },
                        <%end%>
                        <%end %>

                    ],
                    color: 'black',     // an option!
                    textColor: 'yellow' // an option!


                });

            });

        }

        else {
//            show galleria
        }
    })

</script>



<style>

    body {
        /*margin-top: 40px;*/
        /*text-align: center;*/
        font-size: 17px;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    }

    #calendar {
        width: 900px;
        margin: 0 auto;
    }

</style>