<%= render "static_page/notice_flash" %>

<% if @current_user.id == @user.id || @current_user.admin %>


      <!-- Default panel contents -->



        <!-- Tab panes -->
        <div class="tab-content" id="adminnav">
          <div class="tab-pane fade in active" id="admin_profile">
            <%=
                render "module/user_admin/userprofile", :user => @user
            %>
          </div>

          <div class="tab-pane fade" id="admin_news">
            <%=
                render "module/user_admin/rendernews"
            %>
          </div>

          <div class="tab-pane fade" id="admin_activity">
            <%=
                render "module/user_admin/renderactivity"
            %>
          </div>

          <div class="tab-pane fade" id="admin_timetable">
            <%=
                render "module/user_admin/timetable", :user => @user
            %>
          </div>

          <div class="tab-pane fade" id="admin_society">
            <div class="alert alert-warning">所属社团资料板块未正式开放，此板块为demo</div>
            <%=
                render "module/user_admin/affiliateSociety", :user => @user
            %>
          </div>

          <div class="tab-pane fade" id="admin_comment">
            <%=
                #render "module/user_admin/rendernews"
            %>
          </div>


        </div>



    <!-- End of panel-->


<% else %>
    <%= render "static_page/access_error", :notice => "用户错误" %>
<% end %>
</div>




