<%= form_for([@user, @noti], :html => {:multipart => true}) do |f| %>
    <% if @noti.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-warning">
            <h2>以下<%= pluralize(@noti.errors.count, "") %> 项不合法操作导致提交失败:</h2></div>
          <ul>
            <% @noti.errors.messages.values.each do |msg| %>
                <% msg.each do |m| %>
                      <li class="alert alert-danger"><%= m %></li>
                <% end %>

            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">

        <form class="form-horizontal" role="form">


          <!--活动标题-->
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">活动标题</label>

            <div class="col-sm-10">
              <%= f.text_field :title, :class => "form-control", :id => "inputEmail3", :placeholder => "活动标题" %>
            </div>
          </div>


          <!--活动内容-->
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">活动内容</label>

            <div class="col-sm-10">
              <%= f.text_area :content, :class => "form-control", :id => "wysihtml5-textarea", :placeholder => "新闻内容", :rows => "10" %>
            </div>
          </div>


          <!--活动地点-->
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">活动地点</label>

            <div class="col-sm-10">
              <%= f.text_field :location, :class => "form-control", :id => "inputLocation", :placeholder => "活动地点" %>
            </div>
          </div>

          <!--活动发起组织-->
          <div class="form-group">
            <label for="author" class="col-sm-2 control-label"> 活动发起组织</label>
            <%= f.select :society_id, @user.user_societies(:all).collect { |s|
              [(s.society), s.society_id] } %>
          </div>

          <!--活动开始时间-->
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">活动开始时间</label>
            <%= f.datetime_select :start_time, :class => "form-control" %>
          </div>


          <!--活动结束时间-->
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">活动结束时间</label>
            <%= f.datetime_select :end_time, :class => "form-control" %>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">通知类型</label>
            <%= f.select :category_id,
                         Category.where('id = 11 OR id = 12').collect { |s|
                           [(s.category_name), s.id] }
            %>
          </div>


          <!--提交-->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary btn-block", "data-loading-text" => "Loading...", value: "提交" %>
            </div>
          </div>
        </form>

      </div>
    </div>
<% end %>