<%= form_for([@user, @noti], :html => {:multipart => true}) do |f| %>
    <% if @noti.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-warning">
            <h2>以下<%= pluralize(@noti.errors.count, "") %> 项不合法操作导致提交失败:</h2></div>
          <ul>
            <% @noti.errors.messages.values.each do |msg| %>
                <% msg.each do |m| %>
                    <li class="alert alert-danger"><%= m %></li>
                <% end %>

            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="panel-body">

      <form class="form-horizontal" role="form">

        <!--活动标题-->
        <div class="row">
          <h5>活动标题</h5>

          <%= f.text_field :title, :class => "form-control", :id => "inputEmail3", :placeholder => "活动标题" %>

        </div>


        <!--活动内容-->
        <div class="row">
          <h5>活动内容</h5>

          <%= f.text_area :content, :class => "form-control", :id => "wysihtml5-textarea", :placeholder => "新闻内容", :rows => "10" %>
        </div>


        <!--活动地点-->
        <div class="row">
          <h5>活动地点</h5>

          <%= f.text_field :location, :class => "form-control", :id => "inputLocation", :placeholder => "活动地点" %>
        </div>
        <div class="row">
          <h5>活动参数</h5>

          <div class="thumbnail">
            <!--活动发起组织-->

            <div class="row">
              <div>
                <label for="inputPassword3" class="col-sm-2 control-label">活动发起组织</label>
                <%=
                    f.select(:society_id, @user.user_societies(:all).collect { |s|
                      [(s.society), s.society_id] }, {}, {:class => "selectpicker", :nameui => "huge"})
                %>

              </div>
            </div>

            <div class="row">
              <label for="inputPassword3" class="col-sm-2 control-label">通知类型</label>
              <%= f.select :category_id,
                           Category.where('id = 11 OR id = 12').collect { |s|
                             [(s.category_name), s.id] }, {}, {:class => "selectpicker", :nameui => "huge"}
              %>
            </div>

            <!--活动开始时间-->
            <div class="row">
              <label for="inputPassword3" class="col-sm-2 control-label">活动开始时间</label>
              <%= f.datetime_select :start_time, :class => "datepicker" %>
            </div>


            <!--活动结束时间-->
            <div class="row">
              <label for="inputPassword3" class="col-sm-2 control-label">活动结束时间</label>
              <%= f.datetime_select :end_time, :class => "datepicker" %>
            </div>


          </div>

          <!--提交-->
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary btn-block", "data-loading-text" => "Loading...", value: "提交", disable_with: '提交中...' %>
            </div>
          </div>
        </div>
      </form>
    </div>
<% end %>


<script>

    // Select dropdown
    $("select[nameui='huge']").selectpicker({style: 'btn btn-primary', menuStyle: 'dropdown-inverse'});
    $("select[nameui='large']").selectpicker({style: 'btn-lg btn-default'});
    $("select[nameui='info']").selectpicker({style: 'btn-info'});
    $("select[nameui='small']").selectpicker({style: 'btn-sm btn-warning'});
</script>