<style>
    #newsP{
        font-size: 1.2em;
        line-height: 2.1;
        font-weight: 200;
        padding: 20px 2%;
        text-align: justify;
    }

</style>

<div class="panel panel-info">
  <div class="panel-heading">
    <h6 align="center"><%= issue.title %></h6>
  </div>

  <div class="panel-heading" style="font-size: 14px" align="center">
    <div>发表于: <%= issue.created_at.strftime("%Y-%m-%e  %H:%M") %> | 作者: <%= issue.author %> | 浏览次数: <%=issue.impressionist_count%></div>
  </div>

  <% if issue.issue_images.count > 0 %>
      <div class="panel-body" id="gal">
        <%= render "module/gallary", :issue => issue %>
      </div>
      <hr>
  <% end %>

  <div class="panel-body"  id="newsP">
    <p><%= simple_format((issue.content), {}, :sanitize => false) %></p>
  </div>
</div>



