<div class="panel panel-info">
  <div class="panel-heading">
    <h2 align="center"><%= issue.title %></h2>
  </div>

  <div class="panel-heading">
    <div>发表于： <%= issue.created_at.strftime("%m-%e-%Y  %H:%M") %> | 作者： <%= issue.author %> </div>
  </div>

  <div class="panel-body" id="gal">
    <%= render "module/gallary", :issue => issue %>
  </div>
  <hr>

  <div class="panel-body">
    <pre id="issue_pre"><h5><%= "#{issue.content}" %></h5></pre>
  </div>

</div>