<div class="panel panel-info">
  <div class="panel-heading">
    <h2 align="center"><%= issue.title %></h2>
  </div>

  <div class="panel-heading">
    <div>发表于： <%= issue.created_at.strftime("%m-%e-%Y  %H:%M") %> | 作者： <%= issue.author %> </div>
  </div>

  <% if issue.issue_images.count > 0 %>
      <div class="panel-body" id="gal">
        <%= render "module/gallary", :issue => issue %>
      </div>
      <hr>
  <% end %>

  <div class="panel-body">
    <p><%= simple_format((issue.content), {}, :sanitize => false) %></p>
  </div>

</div>



