<style>
    #newsP {
        font-size: 1.2em;
        line-height: 2.1;
        font-weight: 200;
        padding: 20px 2%;
        text-align: justify;
    }
</style>

<div class="panel panel-info">
  <div class="panel-heading">
    <h2 align="center"><%= noti.title %></h2>
  </div>

  <div class="panel-heading">
    <div>发表于: <%= noti.created_at.strftime("%m-%e-%Y  %H:%M") %>  | 所属协会: <%= noti.society.to_s %> | 浏览次数: <%=noti.impressionist_count%></div>

    <!-- To determine if attend or not or if a member exist-->
    <div id="notiAttend" style="text-align: right">
      <% unless current_user_stu.nil? %>
          <div id="noti_attend">
            <% if current_user_stu.timetables.count > 0 && @user.timetables.exists?(:noti_id => noti.id) %>
                <%= render 'timetables/cancel' %>
            <% else %>
                <%= render 'timetables/attend' %>
            <% end %>
          </div>
      <% end %>
    </div>

  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs nav-justified" id="myTab">
      <li class="active"><a href="#content" data-toggle="tab">通知内容</a></li>
      <li><a href="#time" data-toggle="tab">活动时间</a></li>
      <li><a href="#location" data-toggle="tab">活动地点</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="notinav">
      <div class="tab-pane fade in active" id="content"><h3 id="newsP"><%= noti.content %></h3></div>
      <div class="tab-pane fade" id="time"></br>
        <div id='calendar'></div>
      </div>
      <div class="tab-pane fade" id="location">
        <div class="alert alert-success"><h2><%= noti.location %></h2></div>
        <div class="alert alert-warning">谷歌地图地理位置显示，开发中，不久的将来会开放</div>
      </div>
    </div>
  </div>

</div>


<%= stylesheet_link_tag "fullcalendar/fullcalendar.css" %>
<%= stylesheet_link_tag "fullcalendar.print.css" %>
<%= javascript_include_tag "fullcalendar/fullcalendar.min.js" %>
<%= javascript_include_tag "fullcalendar/jquery-ui.custom.min.js" %>



<%
   noti = @noti
%>



<script type="text/javascript">
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        if (e.target.hash == "#time") {
//            reset calendar
            $("#calendar").html("");
//            add calendar related js

            $(document).ready(function () {

//                change ruby data to javascript data: var date = new Date(date.to_i*1000)
                var start_date = new Date(<%= noti.start_time.to_i * 1000 %>);

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    date: start_date.getDate(),
                    month: start_date.getMonth(),
                    year: start_date.getFullYear(),
                    allDaySlot: false,
                    defaultView: "agendaWeek",
                    theme: false,
                    editable: false,
                    minTime: 6,
                    maxTime: 24,
                    events: [
                        {
                            title: "<%= noti.title%>",
                            start: new Date(<%= noti.start_time.to_i * 1000 %>),
                            end: new Date(<%= noti.end_time.to_i * 1000%>),
                            allDay: false
                        }
                    ]
                });

            });

        }

        else {
//            show others
        }
    })


</script>


<!-- calendar css-->
<style>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    }

    #calendar {
        width: 900px;
        margin: 0 auto;
    }

</style>







