<head>
  <%= stylesheet_link_tag "book/book2.css" %>
  <%= javascript_include_tag "book/modernizr.custom.js" %>

</head>


<!-- Top Navigation -->
<!--<div class="codrops-top clearfix">-->
  <!--<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Tutorials/PseudoElementsImageCaptions/"><span>上一届委员</span></a>-->
  <!--<span class="right"></span><span>第七届委员</span></a></span>-->
  <!--<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=15806"><span>下一届委员</span></a></span>-->
<!--</div>-->
<div class="component">

  <ul class="align">

    <% slmembers.each do |sl| %>
        <li>
          <figure class='book'>

            <!-- Front -->

            <ul class='paperback_front'>
              <li>
                <!--<span class="ribbon">Nº1</span>-->
                <%= image_tag sl.admin_pic.url(:thumb), :width => "100%", :height => "100%" %>
              </li>
              <li></li>
            </ul>

            <!-- Pages -->

            <ul class='ruled_paper'>
              <li></li>
              <li>
                <a class="btn" href=<%= show_url(sl) %>>详细资料</a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <!-- Back -->

            <ul class='paperback_back'>
              <li>
                <!--<img src="img/bg.jpg" alt="" width="100%" height="100%">-->
              </li>
              <li></li>
            </ul>
            <figcaption>
              <h1><%= sl.name %></h1>
              <span><%= sl.sl_department.to_s %></span>

              <p><%= sl.proverb %></p>
            </figcaption>
          </figure>
        </li>
    <% end %>

  </ul>
</div>
