<head>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <title>桂林电子科技大学 - 学生社团联合会</title>

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <!-- The global css of previous version -->
  <%=
      render "layouts/css1"
  %>

</head>

<!-- only for who wants to get the changing background-->
<%=
    #render "layouts/changingBG"
%>