<div class="navbar navbar-default navbar-fixed-top navbar-embossed nhead" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= root_url %>><b class="brand">社团联合会</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown" id="headDrop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navfade">站内导航</a>
          <ul class="dropdown-menu" id="hul">
            <li><a id="navLi" href="/news" onclick="ajax()">新闻部落</a></li>
            <li><a href=<%= notis_url %>>活动通知</a></li>
            <li><a href="/download">资料下载</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a id="navLi" href="/slmember">社联介绍</a></li>
          </ul>

        </li>

        <li class="dropdown" id="headDrop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navfade">社团中心</a>
          <ul class="dropdown-menu" id="hul">
            <li><a href="/gy">公益实践中心</a></li>
            <li><a href="/wy">文娱兴趣中心</a></li>
            <li><a href="ty">体育竞技中心</a></li>
            <li><a href="xs">学术科技中心</a></li>
          </ul>

        </li>
      </ul>


      <ul class="nav navbar-nav">

        <form class="navbar-form navbar-left">
          <!--<div class="form-group">-->
          <!--<div class="input-group">-->
          <button type="submit" class="btn btn-default pull-right tt-query" autocomplete="off" spellcheck="false" dir="auto"><i class="glyphicon glyphicon-search"></i>
          </button>
          <%= text_field_tag :search, params[:search], class: "form-control pull-left", placeholder: "Search" %>
          <!--</div>-->
          <!--</div>-->
        </form>
      </ul>

      <ul class="nav pull-right navbar-nav">

        <li class="dropdown" id="headDrop2">
          <% if current_user_stu %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>
                <i class="glyphicon glyphicon-chevron-down"></i></a>
              <ul class="dropdown-menu" id="hul2">

                <li><%= link_to current_user_stu.email, user_url(session[:user_id]) %></li>
                <li class="divider"></li>
                <li><%= link_to raw('发布新闻'), new_user_issue_path(current_user_stu, @issue) %></li>
                <li><%= link_to raw('发布活动通知'), new_user_noti_path(current_user_stu, @noti) %></li>
                <li class="divider"></li>
                <li><%= link_to '登出', signout_path, method: "delete" %></li>
          <% else %>

              <form action="/sessions" class="navbar-form navbar-left" role="form" method="post">
                <div style="display:none">
                  <input name="authenticity_token" type="hidden" value="1fe4d92d89e03eec1f28adbbc94dc324ad6257e26e4c029a801a3e66cee4e2a01d32e8175f49d2b5fdd58224030f24871415ab633925d2b8bf35d8217b1cb213" />
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Email address</label>
                  <input name="session[email]" type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputPassword2">Password</label>
                  <input name="session[password]" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                </div>

                <button name="commit" type="submit" class="btn btn-primary ">登录</button>
                <!--<button class="btn btn-danger ">注册</button>-->
              </form>

          <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>

