<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <b><%=link_to "社团联合会", root_url, :class => "navbar-brand"%></b>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <!--<li class="dropdown">-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">板块 <b class="caret"></b></a>-->
      <!--<ul class="dropdown-menu">-->
      <!--<li><a href="#">社团中心</a></li>-->
      <!--<li><a href="#">新闻中心</a></li>-->
      <!--<li><a href="#">社联部门</a></li>-->
      <!--<li class="divider"></li>-->
      <!--<li><a href="#">Separated link</a></li>-->
      <!--<li class="divider"></li>-->
      <!--<li><a href="#">One more separated link</a></li>-->
      <!--</ul>-->
      <!--</li>-->
    </ul>

    <!--Research Panel-->
    <form class="navbar-form navbar-left" role="search" id="search_header">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" id="search_header_form">
      </div>
      <button type="submit" class="btn btn-default">搜索</button>
    </form>


    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if current_user %>
            <!--<ul class="nav nav-pills">-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.stuid %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to current_user.stuid, user_url(session[:user_id]) %></li>
                  <li><%= link_to '登出', signout_path, method: "delete" %></li>
                </ul>
              </li>
            <!--</ul>-->
        <% else %>
            <li><%= link_to "登录", signin_url %></li>
        <% end %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">联系我们 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://e.weibo.com/guetstlhh?ref=http%3A%2F%2Fwww.weibo.com%2Fmygroups%3Fgid%3D201109130437942212%26wvr%3D5%26leftnav%3D1">微博</a></li>
            <li><a href="#">人人</a></li>
            <li><a href="#">贴吧</a></li>
          </ul>
        </li>
        </ul>

  </div>
  <!-- /.navbar-collapse -->
</nav>