<head>
  <%= stylesheet_link_tag "Horizon/css/component.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Horizon/modernizr.custom.js", "data-turbolinks-track" => true %>
</head>

<style>
    #horizon {
        padding-bottom: 100px;
    }

    #cbp-hrmenu {
        position: relative;
        z-index: 300001;
    }

    #index_drop {
        font-weight: 700;
        /*padding: 1em 2em;*/
        margin-left: 0em;
        color: #999;
        display: inline-block;
    }
</style>

<div id="horizon">
  <nav id="cbp-hrmenu" class="cbp-hrmenu">
    <ul>
      <li>
        <a href="#"><h3>站内导航</h3></a>

        <div class="cbp-hrsub">
          <div class="cbp-hrsub-inner">
            <div>
              <h4>校内导航</h4>
              <ul>
                <li><a href="http://www.guet.cn/">桂林电子科技大学</a></li>
                <li><a href="http://weibo.com/guetstlhh">社联微博主页</a></li>
              </ul>
            </div>
            <div>
              <h4>新闻媒体</h4>
              <ul>
                <li><a href="/news">新闻部落</a></li>
                <li><a href="/notis">活动通知</a></li>
              </ul>
            </div>
            <div>
              <h4>社联相关</h4>
              <ul>
                <li><a href="/slmember">社联介绍</a></li>
                <li><a href="/download">资料下载</a></li>
                <li><a href="/faq">FAQ</a></li>
              </ul>
            </div>
          </div>
          <!-- /cbp-hrsub-inner -->
        </div>
        <!-- /cbp-hrsub -->
      </li>
      <li>
        <a href="#"><h3>社团中心</h3></a>

        <div class="cbp-hrsub">
          <div class="cbp-hrsub-inner">
            <div>
              <h4>公益实践中心</h4>
              <ul>
                <% @societies_gy.each do |s| %>
                    <li><%= link_to s.to_s, societyshow_url(s) %></li>
                <% end %>
                <a href="/gy">更多社团...</a>
              </ul>

              <h4>体育竞技中心</h4>
              <ul>
                <% @societies_ty.each do |s| %>
                    <li><%= link_to s.to_s, societyshow_url(s) %></li>
                <% end %>
                <a href="/ty">更多社团...</a>
              </ul>
            </div>
            <div>
              <h4>文娱兴趣中心</h4>
              <ul>
                <% @societies_wy.each do |s| %>
                    <li><%= link_to s.to_s, societyshow_url(s) %></li>
                <% end %>
                <a href="/wy">更多社团...</a>
              </ul>
            </div>
            <div>
              <h4>学术科技中心</h4>
              <ul>
                <% @societies_xs.each do |s| %>
                    <li><%= link_to s.to_s, societyshow_url(s) %></li>
                <% end %>
                <a href="/xs">更多社团...</a>
              </ul>
            </div>

          </div>
          <!-- /cbp-hrsub-inner -->
        </div>
        <!-- /cbp-hrsub -->
      </li>
      <li>
        <a href="#"><h3>用户中心</h3></a>

        <div class="cbp-hrsub">
          <div class="cbp-hrsub-inner">

            <% if current_user_stu %>

                <div>
                  <h4>用户信息</h4>
                  <ul>
                    <li><a><%= current_user_stu.email %></a></li>
                    <li><a>学号: <%= current_user_stu.stuid %></a></li>
                    <li><a>姓名:
                      <% if current_user_stu.name.nil? %>
                          还没填写名字，请补充
                      <% else %>
                          <%= current_user_stu.name %>
                      <% end %>
                    </a>
                    </li>
                    <li><a>上次更新在: <%= current_user_stu.created_at.strftime("%F %X") %></a></li>
                  </ul>
                </div>
                <div>
                  <h4>快捷功能</h4>
                  <ul>
                    <li><a href="<%= user_url(session[:user_id]) %>">控制面板</a></li>
                    <li><a href="<%= new_user_issue_path(current_user_stu, @issue) %>">发布新闻</a></li>
                    <li><a href="<%= new_user_noti_path(current_user_stu, @noti) %>">发布活动通知</a></li>
                    <li><%= link_to '登出', signout_path, method: "delete" %></li>
                  </ul>

                </div>
            <% else %>
                <div>
                  <h4>加入社联网站</h4>
                  <ul>
                    <li><%= link_to "注册", signup_url %></li>
                    <li><%= link_to "登录", signin_url %></li>
                  </ul>
                </div>
            <% end %>
          </div>

          <!-- /cbp-hrsub-inner -->
        </div>
        <!-- /cbp-hrsub -->
      </li>
    </ul>
  </nav>
</div>



<%= javascript_include_tag "Horizon/cbpHorizontalMenu.min.js", "data-turbolinks-track" => true %>
<script>
    $(function () {
        cbpHorizontalMenu.init();
    });
</script>

