<div id="footerContent">
  <div id="footerArea1" class="contentBlock">
    <div id="footerLogo" class="contentBlock">
      <img src="<%= asset_path "footer/社联标志.png" %>"/>
    </div>
    <div id="area1Right" class="contentBlock">
      <div class="top">
        桂林电子科技大学社团联合会
      </div>
      <div class="socialnetwork_logo">
        <a href="#"><img src="<%= asset_path "footer/rss.png" %>"/></a>
        <a href="#"><img src="<%= asset_path "footer/renren.png" %>"/></a>
        <a href="#"><img src="<%= asset_path "footer/facebook.png" %>"/></a>
        <a href="#"><img src="<%= asset_path "footer/twitter.png" %>"/></a>
      </div>
    </div>
  </div>
  <div id="footerArea2" class="contentBlock">
    <div class="title">
      友情链接
    </div>
    <ul class="list">
      <li><a href="http://www.gliet.edu.cn/" style="color:#ffffff">桂林电子科技大学主页</a></li>
      <li><a href="http://www.gxnu.edu.cn/students/stl/index.htm" style="color:#ffffff">师大社团联</a></li>
      <li><a href="http://www.glqnw.com/" style="color:#ffffff">桂林共青团</a></li>
    </ul>
  </div>
  <div id="footerArea3" class="contentBlock">
    <div class="title">
      联系我们
    </div>
    <div id="QRcodes">
      <img src="<%= asset_path "footer/QRcode1.jpg" %>"/>
      <img src="<%= asset_path "footer/QRcode2.jpg" %>"/>
    </div>
  </div>
  <div id="footerArea4" class="contentBlock">
    <div class="title">
      关于我们
    </div>
    <ul class="list">
      <li><a href="#" style="color:#ffffff">关于社联</a></li>
      <li><a href="#" style="color:#ffffff">留言墙</a></li>
      <li><a href="/admin" style="color:#ffffff">系统后台</a></li>
    </ul>
  </div>
</div>
<div id="copyright">
  版权所有 © 2014 桂林电子科技大学社团联合会 Power by
  <a href="http://weibo.com/u/1634556843" style="color: #ffffff">Gary Goh</a>

</div>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    footer {
        background-color: #01353a;
        display: block;
        /*margin-top: 50px;*/
        height: 150px;
        text-align: center;
        color: #FCFCFC;
        font-family: "微软雅黑";
        margin-top: 2%;
        padding-top: 1%;
        padding-bottom: 15%;
        position: relative;
    }

    footer #footerContent {
        display: inline;
        height: inherit;
        width: 100px;
        text-align: center;
    }

    footer #footerContent .contentBlock {
        display: inline-block;
        min-width: 100px;
        height: inherit;
        vertical-align: top;
        padding-right: 10px;
        padding-left: 10px;
    }

    footer #footerContent #footerArea1 {
        vertical-align: top;
    }

    footer #footerContent #footerArea1 #footerLogo {

    }

    footer #footerContent #footerArea1 #footerLogo img {
        margin-top: 20px;
        height: 100px;
        width: auto;
    }

    footer #footerContent #footerArea1 #area1Right {
        vertical-align: top;
    }

    footer #footerContent #footerArea1 #area1Right .top {
        display: block;
        font-size: 24px;
        top: 0;
        padding-top: 30px;
    }

    footer #footerContent #footerArea1 #area1Right .socialnetwork_logo {
        padding-top: 10px;
        text-align: center;
        display: block;
    }

    footer #footerContent #footerArea1 #area1Right .socialnetwork_logo img {
        height: 40px;
        display: inline;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
        -moz-opacity: 0.5;
    }

    footer #footerContent #footerArea1 #area1Right .socialnetwork_logo img:hover {
        height: 40px;
        display: inline;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        -moz-opacity: 1.0;
    }

    footer #footerContent #footerArea2 {

    }

    footer #footerContent .title {
        display: block;
        font-size: 18px;
        font-weight: bold;
    }

    footer #footerContent .list {
        display: block;
    }

    footer #footerContent .list li {
        list-style: none;
        text-align: left;
        padding-bottom: 5px;
    }

    footer #footerContent #footerArea3 {
        margin-left: 20px;
        margin-right: 20px;
    }

    footer #footerContent #footerArea3:before {
        content: "";
        width: 5px;
        height: 120px;
        background-color: #FCFCFC;
        display: inline-block;
        position: absolute;
        margin-left: -140px;
        margin-top: 30px;

    }

    footer #footerContent #footerArea3:after {
        content: "";
        width: 5px;
        height: 120px;
        background-color: #FCFCFC;
        display: inline-block;
        position: absolute;
        margin-left: 140px;
        margin-top: -120px;
    }

    footer #footerContent #footerArea3 #QRcodes {
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    footer #footerContent #footerArea3 #QRcodes img {
        display: inline;
        height: 100px;
        width: auto;
        padding-right: 20px;
    }

    footer #footerContent #footerArea4 {

    }

    footer #copyright{
        font-size: 14px;
        width: 100%;
        position: relative;
        margin-top: 2%;
    }

    footer a {
        opacity: 0.65;
    }

    footer a:hover {
        opacity: 1.0;
    }
</style>