<style>
  body{
      text-align: center;
  }
</style>
<div class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="active">
        <a href="#admin_profile" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> 控制面板</a>
      </li>


      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 个人发布<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a a href="#admin_news" data-toggle="tab">新闻</a>
          </li>
          <li>
            <a a href="#admin_activity" data-toggle="tab">活动</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="#admin_timetable" data-toggle="tab"><i class="fa fa-table fa-fw"></i> 日程表</a>
      </li>
      <li>
        <a href="#admin_news" data-toggle="tab"><i class="fa fa-users fa-fw"></i> 社团相关</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comments fa-fw"></i> 评论内容<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="#admin_news" data-toggle="tab"> 发出评论</a>
          </li>
          <li>
            <a href="#admin_news" data-toggle="tab"> 收到评论</a>
          </li>
          <li>
            <a href="#admin_news" data-toggle="tab"> 赞</a>
          </li>
          <li>
            <a href="#admin_news" data-toggle="tab"> 被赞</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <br>

      <li>
        <a href="<%= edit_user_path(@user) %>"><i class="fa fa-cog fa-fw"></i>更改信息</a>
      </li>

      <li>
        <a href="<%= new_user_issue_path(@user, @issue) %>"><i class="fa fa-pencil-square-o fa-fw"></i>发布新闻</a>
      </li>

      <li>
        <a href="<%= new_user_noti_path(@user, @noti) %>"><i class="fa fa-map-marker fa-fw"></i>发布活动</a>
      </li>

      <li>
        <a href="<%= signout_path %>" data-method='delete'><i class="fa fa-sign-out fa-fw"></i>登出</a>
      </li>
    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->





<!-- Tab panes -->
<div class="tab-content" id="">

  <div class="tab-pane fade" id="admin_modify">
    <%=
        render "users/editAdmin"
    %>
  </div>
</div>

<!-- End of panel-->
