<!DOCTYPE html>
<html>
<head>
  <title>Slwebsite</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="row">
  <div class="col-md-11 col-md-push-1">

    <%= yield %>
  </div>
  <div class="col-md-1 col-md-pull-11">
    <ul class="nav nav-pills nav-stacked nav-fixed-top" id="global_left_nav">
      <li><%= link_to_function raw('<span class="glyphicon glyphicon-circle-arrow-left" id="span1"></span>'), "history.go(-1)" %> </li>
      <li><%= link_to_function raw('<span class="glyphicon glyphicon-circle-arrow-right" id="span1"></span>'), "history.go(+1)" %> </li>
      <li><%= link_to raw('<span class="glyphicon glyphicon-cog" id="span1"></span>'), user_url(session[:user_id]) %> </li>
      <li><%= link_to raw('<span class="glyphicon glyphicon-off" id="span1"></span>'), signout_path, method: "delete" %> </li>

    </ul>
  </div>
</div>

</button>
<%= render 'layouts/footer' %>
</body>
</html>
