<!DOCTYPE html>
<html>
<head>
  <title>Slwebsite</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="row">
  <div class="col-md-11 col-md-push-1">

    <%= yield %>
  </div>
  <div class="col-md-1 col-md-pull-11">
    <ul class="nav nav-pills nav-stacked" id="global_left_nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
