<!-- The html head declaration-->
<%= render "layouts/head" %>

<style>
    #maincontent {
        /*border-right-style: solid;*/
        /*border-right-color: #eee;*/
        /*border-width: 0.06cm;*/
        margin-left: 3%;
        padding-top: 5%;

        /*margin-right: 0;*/
        /*background-color: #ffffff;*/

    }

    #sidecontent {
        background-color: #ffffff;
        /*min-height: 740px;*/
        /*max-height: 740px;*/
        /*max-width: 18%;*/
        overflow: auto;
        margin-left: 10px;
        padding-top: 5%;

    }

    body {
        background-color: #f2f4f5;
    }

    * {

    }

    #sli a i {
        color: #1abc9c;
    }

    #sli a i:hover {
        color: #20ffd4;
    }

    #inhed {
        border-radius: 10px;
    }

</style>

<div class="container" id="foo">


  <!-- Begin Body -->

  <div class="row" id="wrap">

    <!-- The Header of website-->
    <div id="inhed">
      <%= render "layouts/header2" %>
    </div>
    <div class="col-md-8" id="maincontent">
      <!--<button class="btn btn-primary btn-lg" onclick="弹幕测试()">-->
        <!--弹幕测试-->
      <!--</button>-->

      <%=
          yield
      %>

    </div>
    <div class="col-md-3 thumbmail panel" id="sidecontent">
      <%=
          #render "layouts/newsidecontent"
      %>
                adsf

    </div>
    <div id='goup'></div>
  </div>
</div>
<footer>
  <%= render 'layouts/newFooter' %>
</footer>
<%= render "layouts/foot" %>
