<!-- The html head declaration-->
<%= render "layouts/head" %>


<%= render 'layouts/header2' %>

<!-- Begin Body -->
<div class="container">
  <div class="no-gutter row">
    <!-- left side column -->
    <!--/end left column-->
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>


</div>



<footer id="footer_div">
  <%= render 'layouts/footer_pub' %>

</footer>

<%= render "layouts/foot" %>