<!DOCTYPE html>
<!-- saved from url=(0035)# -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>


  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta charset="utf-8">
  <title>桂林电子科技大学 - 学生社团联合会</title>
  <meta name="generator" content="Bootply">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="http://www.bootply.com/bootstrap/img/favicon.ico">
  <link rel="apple-touch-icon" href="http://www.bootply.com/bootstrap/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://www.bootply.com/bootstrap/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://www.bootply.com/bootstrap/img/apple-touch-icon-114x114.png">
  <link href="./Bootply.com - Bootstrap Bootstrap 3 Template   Theme - Bootable_files/font-awesome.min.css" type="text/css" rel="stylesheet">


  <!-- CSS code from Bootply.com editor -->

  <%=
      #render "layouts/css1"
  %>
</head>

<%=
    #render "layouts/changingBG"
%>

<style>
    #maincontent {
        border-right-style: solid;
        border-right-color: #eee;
        border-width: 0.06cm;
        padding-left: 120px;
        margin-right: 0;

    }

    #sidecontent {
        padding-right: 120px;
    }


      #indexheader{
          padding-bottom: 20px;
      }
</style>
<!-- HTML code from Bootply.com editor -->

<body>

<!-- Begin Navbar -->
<div id="indexheader">
  <%= render "layouts/header3" %>
</div>


<!-- /.navbar -->


<!-- Begin Body -->
<div class="container-fluid">
  <div class="no-gutter row">
    <!-- left side column -->
    <%=
        #render "layouts/navbar"
    %>

    <!--/end left column-->
    <div class="col-xs-12 col-md-9" id="maincontent">
      <%= yield %>
    </div>
    <div class="col-xs-12 col-md-3" id="sidecontent">
      <%=
          render "layouts/side_content"
      %>
    </div>
  </div>
</div>
</div>


<footer>
  <%= render 'layouts/footer2' %>

</footer>


<script type="text/javascript" src="vendor/assets/javascripts/jquery.min.js"></script>


<script type="text/javascript" src="vendor/assets/javascripts/bootstrap.min.js"></script>
<!-- JavaScript jQuery code from Bootply.com editor -->

<script type="text/javascript">

    $(document).ready(function () {

        $('#sidebar').affix({
            offset: {
                top: 230,
                bottom: 100
            }
        });
        $('#midCol').affix({
            offset: {
                top: 230,
                bottom: 100
            }
        });

    });

</script>


</body>
</html>