<!-- The html head declaration-->
<%= render "layouts/head" %>


<!-- The Header of website-->
<%= render "layouts/header2" %>

<!-- Begin Body -->

<div class="container-fluid">
  <div class="no-gutter row">

    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
</div>
<!-- End of Body-->

<footer id="footer_div">
  <%= render 'layouts/footer_pub' %>

</footer>

<%= render "layouts/foot" %>
