<head>

  <meta charset="utf-8">

  <%= stylesheet_link_tag "newAdmin/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "newAdmin/font-awesome/css/font-awesome.css" %>
  <%= stylesheet_link_tag "newAdmin/css/sb-admin.css" %>


  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <title>桂林电子科技大学 - 学生社团联合会</title>


</head>

<style>

    body {
        background-color: #f8fafb;

    }

    * {

    }

        #page-wrapper{
            margin-top: 4%;
        }

</style>

<div class="container-full">

  <div id="inhed">
    <%= render "layouts/header2" %>
  </div>
  <div id="wrapper">

    <%=
        render "layouts/usrAdNav"
    %>
    <div id="page-wrapper">

      <%=
          yield
      %>
    </div>


  </div>
</div>
<footer>
  <%= render 'layouts/newFooter' %>
</footer>
<div id='goup'></div>

<%= render "layouts/foot" %>


<!--</div>-->
<!-- End of Begin-->
<%= javascript_include_tag "newAdmin/js/bootstrap.min.js" %>
<%= javascript_include_tag "newAdmin/js/plugins/metisMenu/jquery.metisMenu.js" %>
<%= javascript_include_tag "newAdmin/js/sb-admin.js" %>





